
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname">
          </div>

          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname">
          </div>

          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department">
          </div>

          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary">
          </div>

          <div class="mb-3">
            <label for="bonus" class="form-label">Bonus</label>
            <input type="number" class="form-control" id="bonus">
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" class="form-control" id="role">
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone">
          </div>

          <div class="mb-3">
            <label for="hire_date" class="form-label">Hire date</label>
            <input type="date" class="form-control" id="hire_date">
          </div>